body {
  background-color: rgb(221, 193, 193);
  font-family: sans-serif;
}


nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  
}

#hero{
   text-align: center;
 
   
}

#aboutUs{
   text-align: center;
}

#services{
   text-align: center;
}



/* Service List */
.serviceList {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 50px;
list-style: none;

}

/* Individual Service Item */
.serviceList li {
  background-color: azure;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  background-image: url(logo.png);
 
}


/* Service Heading */
.serviceList h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  
}

/* Service Paragraph */
.serviceList p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}




/* article {
  background-color: azure;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
}

#overallNews {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

#overallNews article{
  background-color: azure;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
} */



footer {
  position: fixed;
  bottom: 0;
  right: 50px;
  height: 40px;
  display: flex;
  align-items: center;
}


form{
    display: flex;
    flex-direction: column;
   
    
}

.myButton {
      background-color: rgb(95, 51, 165);
      color: white;
      padding: 15px 30px;
      border: 2px solid darkpurple;
      border-radius: 10px;
      font-size: 18px;
      cursor: pointer;
      transition: background-color 0.3s ease; /* Smooth transition on hover */
       align-self: flex-start;
    }

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

a img {
  border: none;
  background-color: blueviolet;
  
  /* Older browsers may require border: 0; */
}
